#---------------------------------------------------------------------
# Blacklisted URI paths
#---------------------------------------------------------------------
<% if node['gitlab-haproxy']['frontend']['blacklist']['uri'].any? -%>
    <% node['gitlab-haproxy']['frontend']['blacklist']['uri'].each do |path, comment| %>
# <%= comment %>
<%= path %>
    <% end %>
<% end -%>
