global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats socket ipv4@<%= node['gitlab-haproxy']['api_address'] %>:23646 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 50000
    spread-checks 2
<% if node['gitlab-haproxy']['global']['multithreading']['enable'] %>
    nbproc <%= node['gitlab-haproxy']['global']['multithreading']['nbproc'] %>
    nbthread <%= node['gitlab-haproxy']['global']['multithreading']['nbthread'] %>
<% end %>
<% if node['gitlab-haproxy']['global']['hard-stop']['enable'] %>
    hard-stop-after <%= node['gitlab-haproxy']['global']['hard-stop']['timeout'] %>
<% end %>
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    server-state-file /etc/haproxy/state/global
<% end %>
    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4:!3DES
    # Keep DH params size at 1024 for Java 6 HTTPS clients
    tune.ssl.default-dh-param 1024

defaults
    log global
    maxconn 50000
    option dontlognull
    # Use all backup servers
    # instead of just the first one
    # if other servers are down
    option allbackups
    timeout connect 5000
    timeout check 30000
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/429.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 429 /etc/haproxy/errors/429.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    load-server-state-from-file global
<% end %>

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

<% if node['gitlab-haproxy']['registry']['peers']['servers'].any? -%>
#---------------------------------------------------------------------
# Sync data between the registry nodes
#---------------------------------------------------------------------
peers registry-peers
    <% node['gitlab-haproxy']['registry']['peers']['servers'].each do |name, network| %>
    peer <%= name %> <%= network[0] %>:<%= network[1] %>
    <% end %>
<% end -%>

#---------------------------------------------------------------------
# Frontend configuration
#---------------------------------------------------------------------
frontend http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:80
    mode http
    option splice-auto

    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    http-request deny if deny-403-ip

    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    http-request redirect scheme https code 301

frontend https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:443 ssl crt /etc/haproxy/ssl/registry.pem<% if @use_internal %> crt /etc/haproxy/ssl/internal.pem<% end %> no-sslv3<% if @enforce_cf_origin_pull %> verify required ca-file /etc/haproxy/ssl/cf-origin-pull.pem<% end %>
    mode http
    option splice-auto

<% if node['gitlab-haproxy']['cloudflare']['enable'] %>
<%= render 'partial_cloudflare.erb' -%>
<% end %>

    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    http-request deny if deny-403-ip

    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    capture request header User-Agent len 64

    stick-table type ip size 1m expire 5m store gpc0,conn_rate(1m) <% if node['gitlab-haproxy']['registry']['peers']['servers'].any? -%>peers registry-peers<% end -%>
    tcp-request connection track-sc1 src

    acl has_multiple_slash path_reg /{2,}

    http-request redirect code 308 location https://%[hdr(host)]%[url,regsub(/+,/,g)] if has_multiple_slash
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-SSL %[ssl_fc]

    acl is_canary_path path_beg -f /etc/haproxy/canary-request-paths.lst
    acl is_canary_host hdr_beg(host) -i canary
    acl is_canary req.cook(gitlab_canary) -m str -i true
    acl canary_disabled req.cook(gitlab_canary) -m str -i false
    acl no_be_srvs_canary_registry nbsrv(canary_registry) lt 1

<%= formatted_custom_config(node['gitlab-haproxy']['registry']['custom_config']) %>

    ###############################################################
    # Registry routing
    <% if node['gitlab-haproxy']['frontend']['canary_registry']['enable'] %>
    # If there are no healthy canary servers default to the web backend
    use_backend registry if no_be_srvs_canary_registry
    # Use the canary for internal request paths like /gitlab-com/
    use_backend canary_registry if is_canary_path !canary_disabled
    # Use the canary backend if the cookie gitlab_canary=true or if the
    # request is sent to canary.gitlab.com
    use_backend canary_registry if is_canary or is_canary_host
    # Finally, if no other rules match, send the request to the registry backend
    <% end %>
    default_backend registry
    ###############################################################

frontend check_http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8001
    mode http
    option splice-auto
    acl no_be_srvs_reg nbsrv(registry) lt 1
    monitor-uri /-/available-http
    monitor fail if no_be_srvs_reg

frontend check_https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8002
    mode http
    option splice-auto
    acl no_be_srvs_reg nbsrv(registry) lt 1
    monitor-uri /-/available-https
    monitor fail if no_be_srvs_reg

#---------------------------------------------------------------------
# Backend configuration
#---------------------------------------------------------------------
backend registry
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    option httpchk GET <%= node['gitlab-haproxy']['registry']['httpchk_path'] %> HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['registry']['httpchk_host'] %>
    <% @backend_servers['all']['registry'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['registry']['backend_port'] %> <% if node['gitlab-haproxy']['registry']['use_weights'] %>weight <%= node['gitlab-haproxy']['registry']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['registry']['default_check_opts'] %><%= @backend_servers['active']['registry'].key?(name) ? '' : ' backup' %>
    <% end %>

backend canary_registry
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    option httpchk GET <%= node['gitlab-haproxy']['registry']['httpchk_path'] %> HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['registry']['httpchk_host'] %>
    <% @backend_servers['all']['canary_registry'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['registry']['backend_port'] %> check <%= node['gitlab-haproxy']['registry']['default_check_opts'] %><%= @backend_servers['active']['canary_registry'].key?(name) ? '' : ' backup' %>
    <% end %>
