global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats socket ipv4@<%= node['gitlab-haproxy']['api_address'] %>:23646 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)
<% if node['gitlab-haproxy']['global']['multithreading']['enable'] %>
    nbproc <%= node['gitlab-haproxy']['global']['multithreading']['nbproc'] %>
    nbthread <%= node['gitlab-haproxy']['global']['multithreading']['nbthread'] %>
<% end %>
<% if node['gitlab-haproxy']['global']['hard-stop']['enable'] %>
    hard-stop-after <%= node['gitlab-haproxy']['global']['hard-stop']['timeout'] %>
<% end %>
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    server-state-file /etc/haproxy/state/global
<% end %>

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
    # Keep DH params size at 1024 for Java 6 HTTPS clients
    tune.ssl.default-dh-param 1024

defaults
    log global
    option dontlognull
    # Use all backup servers
    # instead of just the first one
    # if other servers are down
    option allbackups
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)
    timeout connect 5000
    timeout check 30000
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/429.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 429 /etc/haproxy/errors/429.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    load-server-state-from-file global
<% end %>

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

frontend altssh
    bind <%= node['gitlab-haproxy']['listen_address'] %>:443
    mode tcp
    option splice-auto

    <% if node['gitlab-haproxy']['cloudflare']['enable'] %>
    acl from_cf src -f /etc/haproxy/cloudflare_ips_v4.lst -f /etc/haproxy/cloudflare_ips_v6.lst
    # This sets the `src` variable to the CF-Connecting-IP when the request comes from Cloudflare
    tcp-request connection expect-proxy layer4 if from_cf
    <% end %>
    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    tcp-request content reject if deny-403-ip

    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %U\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq

<%= formatted_custom_config(node['gitlab-haproxy']['altssh']['custom_config']) %>

    default_backend altssh

frontend check_ssh
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8003
    mode http
    option splice-auto
    acl no_be_srvs_ssh nbsrv(altssh) lt 1
    monitor-uri /-/available-ssh
    monitor fail if no_be_srvs_ssh

backend altssh
    mode tcp
    balance <%= node['gitlab-haproxy']['altssh']['balance'] %>
    option splice-auto
    hash-type consistent
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server_ssh'] %>
    <% @backend_servers['all']['altssh'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['frontend']['ssh']['server_port'] %> check port <%= node['gitlab-haproxy']['frontend']['ssh']['server_port'] %> inter 5000 fall 3 verify none<%= @backend_servers['active']['altssh'].key?(name) ? '' : ' backup' %>
    <% end %>
