# HAProxy config for camoproxy; note that this is solely to provide a control point
# in front of camoproxy for blocking bad URLs, and perhaps eventually rate-limiting or
# other such controls, if necessary.
global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats socket ipv4@<%= node['gitlab-haproxy']['api_address'] %>:23646 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    server-state-file /etc/haproxy/state/global
<% end %>

defaults
    log global
    option dontlognull
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)
    timeout connect 5000
    timeout check 30000
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 429 /etc/haproxy/errors/429.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    load-server-state-from-file global
<% end %>

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

listen camoproxy
    bind <%= node['gitlab-haproxy']['listen_address'] %>:80
    mode http
    option splice-auto

<% if node['gitlab-haproxy']['cloudflare']['enable'] %>
<%= render 'partial_cloudflare.erb' -%>
<% end %>
    # Limit which methods can be used; there's no need for anything other than GET or HEAD
    # to camoproxy, and anything else could possibly be abused
    http-request deny unless METH_GET

    # Needs to be 'sub'; cannot be 'str' because we want to be able to block partial URLs (e.g.
    # entire domains, not just lists of the same URL, and 'beg' would require us to know the
    # secret to create the HMAC signed first component of the URL, which we can avoid
    # 'reg' would be bad for performance with a large list, but isn't necessary with 'sub'
    acl deny-403-url path -i -m sub -f /etc/haproxy/front-end-security/deny-403-urls-camoproxy.lst
    http-request deny if deny-403-url

    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server_camoproxy'] %>

    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r

    server localhost localhost:<%= node['gitlab-haproxy']['camoproxy']['server_port'] %>
